*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #eceaff;
}
nav{
width: 100%;
background: black;
display: flex;
align-items: center;
justify-content: space-between;
position: sticky;
z-index: -1;
padding: 10px 0;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    margin: 10px 50px;

}
nav ul li a{
    text-decoration: none;
    color: white;
}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: none;
    width:50% ;
    margin-left: 30%;
    height: 700px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 100px; 
    height: 500px;
    width: 400px;
    margin-left: 500px;
    margin-bottom: 00px;
}